<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <title>EXPRESS SEQUELIZE POST TEST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <p>{{> navigation}}</p>
    {{{body}}}
  </body>
</html>
