
<form action="/users/create" method="POST" enctype="multipart/form-data">
  <div>
    Username:<input name="username" type="text"/> <br />
    Email:<input name="email" type="text"/> <br />
    Password:<input name="password" type="text"/> <br />
    Avatar:<input name="avatar" type="file" /> <br />
    <button type="submit">Create</button>
  </div>
</form>
