<form method="post" enctype="multipart/form-data" action="/login" >
  [Login Form] <br>
  username
  <input type="text" name="username"> <br>
  Email
  <input type="text" name="email"> <br>
  Password
  <button type="submit">Login</button>
</form>
