<form action="/post" method="POST" enctype="multipart/form-data">
  Username: <input type="text" name="username" /> <br />
  email: <input type="text" name="email" /> <br />
  password: <input type="text" name="password" /> <br />
  Ava : <input type="file" name="avatar" /> <br />
  <button type="submit">Save</button>
</form>
